@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ConfirmationViewModel

@{
    ViewData["Title"] = "FoxIDs";
}



<p style="font-weight: bold">FoxIDs is currently in beta</p>

<p>You can get a tenant to try out FoxIDs by sending an email to <a href="mailto:support@itfoxtec.com?subject=Access to FoxIDs">support@itfoxtec.com</a>.
The tenant will be fully functional with access to all the current functionality, there is not limitations.</p>

<p>The online FoxIDs identity service is currently free of charge. In the future, there will be as small as possible transaction fee.</p>

<p>The FoxIDs <a href="https://www.itfoxtec.com/FoxIDs">documentation</a> and open source <a href="https://github.com/ITfoxtec/FoxIDs">repository</a>.</p>