@inherits PageBase

<div class="load-spinner">
    <img class="logo" src="images/foxids_logo.svg" />
    <div>
        <div class="spinner-border" role="status"></div>
        Authentication in progress...
    </div>
</div>

@code {
    [Inject]
    public OpenidConnectPkce OpenidConnectPkce { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await (OpenidConnectPkce as TenantOpenidConnectPkce).TenantLoginAsync();
        await base.OnParametersSetAsync();
    }
}