@inherits LayoutComponentBase

<div class="min-vh-100 d-flex flex-column justify-content-between">
    <div class=container-fluid>
        <nav class="navbar navbar-expand navbar-light bg-light navbar-main-static nav-fill">
            <a class="navbar-brand mr-auto"><img class="logo" src="images/foxids_logo.svg" /></a>
        </nav>
        <div class="container-lg main-container">
            @Body
        </div>
    </div>
</div>