@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ConfirmationViewModel

@{
    ViewData["Title"] = Localizer["Confirmation"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post">
            @if (Model.Verified)
            {
                <div class="verified-message">
                    @Localizer["Your email address and account have been confirmation."]
                </div>
            }
            else
            {
                <div class="not-verified-message">
                    @Localizer["The email address and account confirmation did not succeed. Maybe the confirmation link was too old or have been used before."]
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
