@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = Localizer["Reset password"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post">
            @if (!Model.Receipt)
            {
                <div class="info-message">
                    @Localizer["To reset your password, please provide your email."]
                </div>

                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group active-group">
                    <input asp-for="Email" autocomplete="username" class="form-control input-control" autofocus />
                    <label asp-for="Email" class="label-control"></label>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group button-group">
                    <input type="submit" value="@Localizer["Send reset email"]" class="btn btn-primary" />
                </div>
            }
            else
            {
                <div class="receipt-message">
                    @Localizer["If an account associated with that email exists, an email with a password reset link has been sent."]
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
