@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ExtendedUiViewModel

@{
    ViewData["Title"] = Localizer[Model.PageTitle];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container name-create-user">
    <div class="col-md page-content">
        <form method="post">
            <input type="hidden" asp-for="State" autocomplete="off" />
            <div asp-validation-summary="ModelOnly"></div>
            @{
                await Html.RenderPartialAsync("_DynamicElements", Model.ExtendedElements);
            }
            <div class="form-group button-group">
                <div>
                    <inputype="submit" value="@Localizer[Model.SubmitButtonText ?? "Log in"]" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}