<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <aspNetCore>
      <!--remove the environment variables section in Release mode-->
      <environmentVariables xdt:Transform="Remove" />
    </aspNetCore>
  </system.webServer>
</configuration>