@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CreateExternalUserViewModel

@{
    ViewData["Title"] = Localizer["Create user"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container name-create-user">
    <div class="col-md page-content">
        <editForm model>

        </editForm>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @{
                await Html.RenderPartialAsync("_DynamicElements");
            }
            <div class="form-group button-group">
                <div>
                    <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}