@page "/"
@inject RouteBindingBase routeBinding
@attribute [Authorize]

<h1>TenantName: @routeBinding.TenantName, Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
}
