@page "/{tenantName}/"
@inject RouteBindingLogic routeBinding
@*@attribute [Authorize]*@

<h1>TenantName: @TenantName Hello, world!</h1>

Welcome to your new app.

@code {
    [Parameter]
    public string TenantName { get; set; }
}
