@page "/{tenantName}/logs"
@inherits PageBase

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Logs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@logSettingsHref">Settings</a>
    </li>
</ul>

<div class="tab-content">
    <div>
        <p>FoxIDs use Application Insights as log store. Therefor, the logs can be seen after a few minutes.</p>
    </div>


</div>