@page "/{tenantName}/riskpasswords"
@inherits PageBase

<h3>Risk Passwords</h3>

@if (!riskPasswordLoadError.IsNullOrWhiteSpace())
{
    <div class="alert alert-danger" role="alert">
        @riskPasswordLoadError
    </div>
}

<h4>Count</h4>
<div class="card">
    <div class="card-body">
        @if (riskPasswordInfo != null)
        {
            <div class="active-group active">
                <div class="card bg-light">
                    <div class="card-body px-3 py-2">
                        @riskPasswordInfo.RiskPasswordCount
                    </div>
                </div>
                <Label For="@(() => riskPasswordInfo.RiskPasswordCount)" class="label-control" />
            </div>
        }
    </div>
</div>


<h4 class="pt-4">Test if password is at risk</h4>
<div class="card">
    <div class="card-body">
        <PageEditForm @ref="testRiskPasswordForm" TModel="TestRiskPasswordViewModel" OnValidSubmit="OnTestRiskPasswordValidSubmitAsync">
            <div class="modal-body pt-0 px-0">
                <FInputPassword @bind-Value="testRiskPasswordForm.Model.Password" For="@(() => testRiskPasswordForm.Model.Password)" Focus="true" />
                @if (testRiskPasswordForm.Model.IsValid.HasValue)
                {
                    if (testRiskPasswordForm.Model.IsValid.Value)
                    {
                        <div class="alert alert-info" role="alert">
                            Password has not appeared in a data breach and is probably not at risk.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Password has appeared in a data breach and is at risk.
                        </div>
                    }
                }
            </div>
            <div class="modal-footer px-0">
                <button type="submit" class="btn btn-primary mr-0">Test password</button>
            </div>
        </PageEditForm>
    </div>
</div>
