@page "/{tenantName}/riskpasswords"
@inherits PageBase

<h3>Risk Passwords</h3>

@if (!riskPasswordLoadError.IsNullOrWhiteSpace())
{
    <div class="alert alert-danger" role="alert">
        @riskPasswordLoadError
    </div>
}

<h4>Count</h4>
<div class="card">
    <div class="card-body">
        @if (riskPasswordInfo != null)
        {
            <div class="active-group active">
                <div class="card bg-light">
                    <div class="card-body px-3 py-2">
                        @riskPasswordInfo.RiskPasswordCount
                    </div>
                </div>
                <Label For="@(() => riskPasswordInfo.RiskPasswordCount)" class="label-control" />
            </div>
        }
    </div>
</div>


<h4 class="pt-4">Test password</h4>
<div class="card">
    <div class="card-body">

    </div>
</div>
