@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

app {
}

a {
    color: #df8935;
}

    a:hover {
        color: #d87513;
    }

.main-container {
    padding-top: 30px;
}
    .main-container > h3 {
        font-weight: 300;
        padding-bottom: 8px;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*Navbar*/
.navbar.navbar-main {
    border-bottom: 3px solid #fc7e01;
    background-color: #ffffff !important;
}

.navbar .searchDropdown {
    min-width: 400px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.oi.oi-plus {
    font-size: 12px;
}

.navbar.navbar-second {
    padding: 0rem 1rem;
}

    .navbar.navbar-second .active {
        border-bottom: 1px solid #fc7e01;
    }

    .navbar.navbar-second .nav-item {
        padding: .5rem 0rem;
    }



.btn-primary {
    background-color: #f19031;
    border-color: #f19031;
}

    .btn-primary:hover {
        background-color: #ea7c0f;
        border-color: #ea7c0f;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        background-color: #ea7c0f;
        border-color: #ea7c0f;
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(223, 137, 53, 0.25);
        }

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(223, 137, 53, 0.25);
}

.form-group {
    margin-bottom: 1.3rem;
}

.form-control:focus {
    border-color: #df8935;
    box-shadow: 0 0 0 0.2rem rgba(223, 137, 53, 0.25);
}

.button-group {
    padding-top: 15px;
    margin-top: 15px;
}

.active-group {
    position: relative;
    padding: 15px 0px;
    margin: 15px 0px;
}

    .active-group .input-control {
        z-index: 1;
        box-flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        background-color: transparent;
    }

    .active-group .label-control {
        color: #788489;
        padding-left: 0.8rem;
        top: 1.35rem;
        transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
        z-index: 1;
        -moz-transform-origin: bottom left;
        transform-origin: bottom left;
        -moz-transition: all .3s cubic-bezier(0.4,0,0.2,1);
        transition: all .3s cubic-bezier(0.4,0,0.2,1);
        -moz-transition-property: color,bottom,transform;
        transition-property: color,bottom,transform;
        pointer-events: none;
        position: absolute;
    }

    .active-group .input-control:focus ~ .label-control {
        -webkit-transform: scale(.85) translateY(-2.4rem);
        transform: scale(.85) translateY(-2.4rem);
        color: #df8935;
    }

    .active-group.active .label-control {
        -webkit-transform: scale(.85) translateY(-2.4rem);
        transform: scale(.85) translateY(-2.4rem);
    }

    .active-group .input-control:not(:focus):-webkit-autofill ~ .label-control {
        -webkit-transform: scale(.85) translateY(-2.4rem);
        transform: scale(.85) translateY(-2.4rem);
    }

.input-validation-error {
    border-color: #a94442;
    -webkit-animation: borderFadein 1.5s;
    animation: borderFadein 1.5s
}

.validation-summary-errors {
    color: #a94442;
}

.field-validation-error {
    color: #a94442;
}
