@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ChangePasswordViewModel

@{
    ViewData["Title"] = Localizer["Change password"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container name-change-password">
    <div class="col-md page-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @if (Model.EmailIdentifier != null)
            {
                <input type="hidden" asp-for="EmailIdentifier.Email" autocomplete="off" />
                <div class="form-group active-group active">
                    <input asp-for="EmailIdentifier.Email" id="showEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                    <label asp-for="EmailIdentifier.Email" id="showEmail" class="label-control"></label>
                    <span asp-validation-for="EmailIdentifier.Email"></span>
                </div>
            }
            else if (Model.PhoneIdentifier != null)
            {
                <input type="hidden" asp-for="PhoneIdentifier.Phone" autocomplete="off" />
                <div class="form-group active-group active">
                    <input asp-for="PhoneIdentifier.Phone" id="showPhone" disabled autocomplete="off" class="form-control input-control bg-light" />
                    <label asp-for="PhoneIdentifier.Phone" id="showPhone" class="label-control"></label>
                    <span asp-validation-for="PhoneIdentifier.Phone"></span>
                </div>
            }
            else if (Model.UsernameIdentifier != null)
            {
                <input type="hidden" asp-for="UsernameIdentifier.Username" autocomplete="off" />
                <div class="form-group active-group active">
                    <input asp-for="UsernameIdentifier.Username" id="showUsername" disabled autocomplete="off" class="form-control input-control bg-light" />
                    <label asp-for="UsernameIdentifier.Username" id="showUsername" class="label-control"></label>
                    <span asp-validation-for="UsernameIdentifier.Username"></span>
                </div>
            }
            else if (Model.UsernameEmailIdentifier != null)
            {
                <input type="hidden" asp-for="UsernameEmailIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <input asp-for="UsernameEmailIdentifier.UserIdentifier" id="showUsernameEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                    <label asp-for="UsernameEmailIdentifier.UserIdentifier" id="showUsernameEmail" class="label-control"></label>
                    <span asp-validation-for="UsernameEmailIdentifier.UserIdentifier"></span>
                </div>

            }
            else if (Model.UsernamePhoneIdentifier != null)
            {
                <input type="hidden" asp-for="UsernamePhoneIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <input asp-for="UsernamePhoneIdentifier.UserIdentifier" id="showUsernamePhone" disabled autocomplete="off" class="form-control input-control bg-light" />
                    <label asp-for="UsernamePhoneIdentifier.UserIdentifier" id="showUsernamePhone" class="label-control"></label>
                    <span asp-validation-for="UsernamePhoneIdentifier.UserIdentifier"></span>
                </div>
            }
            else if (Model.PhoneEmailIdentifier != null)
            {
                <input type="hidden" asp-for="PhoneEmailIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <input asp-for="PhoneEmailIdentifier.UserIdentifier" id="showPhoneEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                    <label asp-for="PhoneEmailIdentifier.UserIdentifier" id="showPhoneEmail" class="label-control"></label>
                    <span asp-validation-for="PhoneEmailIdentifier.UserIdentifier"></span>
                </div>
            }
            else if (Model.UsernamePhoneEmailIdentifier != null)
            {
                <input type="hidden" asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" autocomplete="off" />
                <div class="form-group active-group active">
                    <input asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" id="showUsernamePhoneEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
                    <label asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" id="showUsernamePhoneEmail" class="label-control"></label>
                    <span asp-validation-for="UsernamePhoneEmailIdentifier.UserIdentifier"></span>
                </div>
            }
            <div class="form-group active-group">
                <input asp-for="CurrentPassword" autocomplete="current-password" class="form-control input-control" autofocus />
                <label asp-for="CurrentPassword" class="label-control"></label>
                <span asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="form-group active-group">
                <input asp-for="NewPassword" autocomplete="new-password" class="form-control input-control" />
                <label asp-for="NewPassword" class="label-control"></label>
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group active-group">
                <input asp-for="ConfirmNewPassword" autocomplete="new-password" class="form-control input-control" />
                <label asp-for="ConfirmNewPassword" class="label-control"></label>
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>
            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Change password"]" class="btn btn-primary" />
                @if (Model.EnableCancelLogin)
                {
                    <a href="../../@Constants.Endpoints.CancelLogin/_@Model.SequenceString" class="btn btn-light">@Localizer["Cancel"]</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
