@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Logged in"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div>
    @Localizer["You are still logged in!"]
</div>

