@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FoxIDs.Models.ViewModels.LoggedOutViewModel

@{
    ViewData["Title"] = Localizer["logged out"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <div class="info-group">
            @Localizer["You are now logged out!"]
        </div>
    </div>
</div>
