@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LoggedInViewModel

@{
    ViewData["Title"] = Localizer["Logged in"];
}

<h1 class="heading">@ViewData["Title"]</h1>


<div class="row page-container name-logged-in">
    <div class="col-md page-content">
        <div class="info-group">
            @Localizer["You are still logged in!"]
        </div>
    </div>
</div>
