@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LoggedOutViewModel

@{
    ViewData["Title"] = Localizer["logged out"];
}

<h1 class="heading">@ViewData["Title"]</h1>

@foreach (var element in Model.Elements)
{
    if (element is LoginInputDElement)
    {
        <div class="row page-container name-logged-out">
            <div class="col-md page-content">
                <div class="info-group">
                    @Localizer["You are now logged out!"]
                </div>
            </div>
        </div>
    }
    else if (element is ContentDElement contentDElement)
    {
        await Html.RenderPartialAsync("_DynamicContentElements", element);
    }
    else if (element is LoginButtonDElement || element is LoginLinkDElement || element is LoginHrdDElement)
    {
        // Placeholder elements ignored on logged-out view.
    }
    else
    {
        throw new NotSupportedException($"Dynamic element type '{element.GetTypeName()}' not supported.");
    }
}
