@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LogoutViewModel

@{
    ViewData["Title"] = Localizer["Log out"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container name-logout">
    <div class="col-md page-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @foreach (var element in Model.Elements)
            {
                if (element is LoginInputDElement)
                {
                    <div class="form-group active-group">
                        <label class="radio-label-control">
                            <input asp-for="LogoutChoice" type="radio" value="Logout"> @Localizer["Log out"]
                        </label>
                        <br />
                        <label class="radio-label-control">
                            <input asp-for="LogoutChoice" type="radio" value="KeepMeLoggedIn"> @Localizer["Keep me logged in"]
                        </label>
                        <span asp-validation-for="LogoutChoice"></span>

                    </div>
                }
                else if (element is LoginButtonDElement)
                {
                    <div class="form-group button-group">
                        <div>
                            <input type="submit" value="@Localizer["OK"]" class="btn btn-primary" />
                        </div>
                    </div>
                }
                else if (element is ContentDElement contentDElement)
                {
                    await Html.RenderPartialAsync("_DynamicContentElements", element);
                }
                else if (element is LoginLinkDElement || element is LoginHrdDElement)
                {
                    // Placeholder elements ignored on logout view.
                }
                else
                {
                    throw new NotSupportedException($"Dynamic element type '{element.GetTypeName()}' not supported.");
                }
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

