@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FoxIDs.Models.ViewModels.LogoutViewModel

@{
    ViewData["Title"] = Localizer["Logout"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container">
    <div class="col-md page-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group active-group">
                <label class="radio-label-control">
                    <input asp-for="LogoutChoice" type="radio" value="Logout"> @Localizer["Logout"]
                </label>
                <br />
                <label class="radio-label-control">
                    <input asp-for="LogoutChoice" type="radio" value="KeepMeLoggedIn"> @Localizer["Keep me logged in"]
                </label>
                <span asp-validation-for="LogoutChoice"></span>

            </div>
            <div class="form-group button-group">
                <div>
                    <input type="submit" value="@Localizer["OK"]" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}