@inherits ComponentBase

<div class="row">
    <div class="col-6">
        <b>@GetTypeString(Item.Type)</b>
    </div>
    <div class="col-6 text-right">
        @Item.Value
    </div>
</div>

@code {
    [Parameter]
    public UsageLogItem Item { get; set; }

    private string GetTypeString(UsageLogTypes type) 
    {
        switch (type)
        {
            case UsageLogTypes.Tenant:
                return UsageLogIncludeTypes.Tenants;
            case UsageLogTypes.Track:
                return UsageLogIncludeTypes.Tracks;
            case UsageLogTypes.KeyVaultManagedCertificate:
                return UsageLogIncludeTypes.KeyVaultManagedCertificate;
            case UsageLogTypes.User:
                return UsageLogIncludeTypes.Users;
            case UsageLogTypes.Login:
                return UsageLogIncludeTypes.Logins;
            case UsageLogTypes.TokenRequest:
                return UsageLogIncludeTypes.TokenRequests;
            case UsageLogTypes.ControlApiGet:
                return UsageLogIncludeTypes.ControlApiGets;
            case UsageLogTypes.ControlApiUpdate:
                return UsageLogIncludeTypes.ControlApiUpdates;
            default:
                throw new NotImplementedException();
        }
    }
}

