@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IdentifierViewModel

@if (Model.EmailIdentifier != null)
{
    <input type="hidden" asp-for="EmailIdentifier.Email" autocomplete="off" />
    <div class="form-group active-group active">
        <input asp-for="EmailIdentifier.Email" id="showEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
        <label asp-for="EmailIdentifier.Email" id="showEmail" class="label-control"></label>
        <span asp-validation-for="EmailIdentifier.Email"></span>
    </div>
}
else if (Model.PhoneIdentifier != null)
{
    <input type="hidden" asp-for="PhoneIdentifier.Phone" autocomplete="off" />
    <div class="form-group active-group active">
        <input asp-for="PhoneIdentifier.Phone" id="showPhone" disabled autocomplete="off" class="form-control input-control bg-light" />
        <label asp-for="PhoneIdentifier.Phone" id="showPhone" class="label-control"></label>
        <span asp-validation-for="PhoneIdentifier.Phone"></span>
    </div>
}
else if (Model.UsernameIdentifier != null)
{
    <input type="hidden" asp-for="UsernameIdentifier.Username" autocomplete="off" />
    <div class="form-group active-group active">
        <input asp-for="UsernameIdentifier.Username" id="showUsername" disabled autocomplete="off" class="form-control input-control bg-light" />
        <label asp-for="UsernameIdentifier.Username" id="showUsername" class="label-control"></label>
        <span asp-validation-for="UsernameIdentifier.Username"></span>
    </div>
}
else if (Model.UsernameEmailIdentifier != null)
{
    <input type="hidden" asp-for="UsernameEmailIdentifier.UserIdentifier" autocomplete="off" />
    <div class="form-group active-group active">
        <input asp-for="UsernameEmailIdentifier.UserIdentifier" id="showUsernameEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
        <label asp-for="UsernameEmailIdentifier.UserIdentifier" id="showUsernameEmail" class="label-control"></label>
        <span asp-validation-for="UsernameEmailIdentifier.UserIdentifier"></span>
    </div>

}
else if (Model.UsernamePhoneIdentifier != null)
{
    <input type="hidden" asp-for="UsernamePhoneIdentifier.UserIdentifier" autocomplete="off" />
    <div class="form-group active-group active">
        <input asp-for="UsernamePhoneIdentifier.UserIdentifier" id="showUsernamePhone" disabled autocomplete="off" class="form-control input-control bg-light" />
        <label asp-for="UsernamePhoneIdentifier.UserIdentifier" id="showUsernamePhone" class="label-control"></label>
        <span asp-validation-for="UsernamePhoneIdentifier.UserIdentifier"></span>
    </div>
}
else if (Model.PhoneEmailIdentifier != null)
{
    <input type="hidden" asp-for="PhoneEmailIdentifier.UserIdentifier" autocomplete="off" />
    <div class="form-group active-group active">
        <input asp-for="PhoneEmailIdentifier.UserIdentifier" id="showPhoneEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
        <label asp-for="PhoneEmailIdentifier.UserIdentifier" id="showPhoneEmail" class="label-control"></label>
        <span asp-validation-for="PhoneEmailIdentifier.UserIdentifier"></span>
    </div>
}
else if (Model.UsernamePhoneEmailIdentifier != null)
{
    <input type="hidden" asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" autocomplete="off" />
    <div class="form-group active-group active">
        <input asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" id="showUsernamePhoneEmail" disabled autocomplete="off" class="form-control input-control bg-light" />
        <label asp-for="UsernamePhoneEmailIdentifier.UserIdentifier" id="showUsernamePhoneEmail" class="label-control"></label>
        <span asp-validation-for="UsernamePhoneEmailIdentifier.UserIdentifier"></span>
    </div>
}