@inject NavigationManager NavigationManager

<a target="_blank" href="@LinkUrl()" class="docs-link text-nowrap @Class">@ChildContent<i class="bi bi-box-arrow-up-right"></i></a>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Page { get; set; }

    [Parameter]
    public string Fragment { get; set; }

    [Parameter]
    public string External { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string LinkUrl()
    {
        var baseUrl = NavigationManager.BaseUri.StartsWith("https://localhost:", StringComparison.Ordinal) ? "https://localhost:44333" : "https://www.foxids.com";
        if (External.IsNullOrWhiteSpace())
        {
            return $"{baseUrl}/link?p={Page}{(Fragment.IsNullOrWhiteSpace() ? string.Empty : $"&f={Fragment}")}";
        }
        else
        {
            return $"{baseUrl}/link?e={External}";
        }
    }
}
