@inherits FInputBase<string>

<div class="active-group active">
    <div class="card bg-light">
        <div class="card-body px-3 py-2">
            @CurrentValue
        </div>
    </div>
    <Label For="@For" class="label-control" />
</div>

@code {

}
