@inherits FInputBase<string>

<div class="@(IncludeActiveFormGroup ? "form-group active-group" : string.Empty)">
    <input @ref="inputElement" type="text" @bind="@CurrentValue" class="form-control input-control" />
    <Label For="@For" class="label-control" />
    <ValidationMessage For="@For" />
</div>

@code {
    [Parameter]
    public bool IncludeActiveFormGroup { get; set; } = true;
}