﻿input {
    position: relative;
    height: 15px;
    width: 30px;
    -webkit-appearance: none;
    background: #6c757d;
    outline: none;
    border-radius: 15px;
    vertical-align: middle;
    margin-bottom: 4px;
}

    input:checked {
        background: #df8935;
    }

    input:before {
        cursor: pointer;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        transform: scale(0.85);
        border-radius: 50%;
        background: white;
        transition: .5s;
    }

    input:checked:before {
        left: 15px;
    }

label {
    margin-left: 0.3rem;
}