@inherits FInputBase<string>

<div class="form-group active-group">
    <textarea @ref="inputElement" @bind="@CurrentValue" class="form-control input-control" @attributes="AdditionalAttributes"></textarea>
    <Label For="@For" LabelText="@LabelText" class="label-control" />
    <ValidationMessage For="@For" />
</div>

@code {
    [Parameter]
    public string LabelText { get; set; }
}