<span><a href="@Text" target="_blank">@Text</a> <button type="button" class="btn btn-link btn-icon-xs" @onclick="@(async () => await ClipboardLogic.WriteTextAsync(Text))"><i class="bi bi-copy" title="Click to copy"></i></button></span>

@code {
    [Inject]
    public ClipboardLogic ClipboardLogic { get; set; }

    [Parameter]
    public string Text { get; set; }
}
