<span class="d-inline-flex flex-nowrap align-items-center" style="min-width: 0; max-width: 100%;">
    <span class="text-truncate d-inline-block" title="@Text">@Text</span>
    <button type="button" class="btn btn-link btn-icon-xs flex-shrink-0 mx-1" @onclick="@(async () => await ClipboardLogic.WriteTextAsync(Text))"><i class="bi bi-copy" title="Click to copy"></i></button>
</span>

@code {
    [Inject]
    public ClipboardLogic ClipboardLogic { get; set; }

    [Parameter]
    public string Text { get; set; }
}
