<div class="modal fade @(show ? "show" : "")" style="@(show ? "display: block; padding-right: 17px;" : "")" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" @onclick="@(() => Hide())" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @ChildContent
        </div>
    </div>
</div>

@code {
    bool show = false;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public void Show()
    {
        if(!show)
        {
            show = true;
            StateHasChanged();
        }
    }

    public void Hide()
    {
        if (show)
        {
            show = false;
            StateHasChanged();
        }
    }
}
