@typeparam TModel

<EditForm EditContext="@EditContext" OnSubmit="OnSubmitAsync">
    @*<DataAnnotationsValidator />*@
    <ObjectGraphDataAnnotationsValidator />
    @*Microsoft.AspNetCore.Components.DataAnnotations.Validation package: <ObjectGraphDataAnnotationsValidator />, validate sub objects [ValidateComplexType] *@
    @if (!error.IsNullOrWhiteSpace())
    {
        <div class="mt-4 alert alert-danger" role="alert">
            @error
        </div>
    }

    @ChildContent
</EditForm>