@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TwoFactorViewModel

@{
    ViewData["Title"] = Localizer["Two-factor authentication (2FA)"];
}

<h1 class="heading">@ViewData["Title"]</h1>

<div class="row page-container name-two-factor">
    <div class="col-md page-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="info-message-sub">@Localizer["Enter an authenticator app code or a recovery code."]</div>
            <div class="form-group active-group">
                <input asp-for="AppCode" autocomplete="off" class="form-control input-control" autofocus />
                <label asp-for="AppCode" class="label-control"></label>
                <span asp-validation-for="AppCode"></span>
            </div>

            <div class="form-group button-group">
                <input type="submit" value="@Localizer["Log in"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
